@import url('/css/global.css');/*Não mecher*/
@import url('/css/head.css');  /*Não mecher*/
@import url('/css/about.css');/*Não mecher*/
@import url('/css/register.css');
@import url('/css/login.css');
@import url('/css/marqConsult.css');
@import url('/css/resultados.css');
@import url('/css/footer.css');/*Não mecher*/
@import url('/css/footer.css');/*Não mecher*/