@import url('/css/global.css');/*Não mecher*/
@import url('/css/head.css');  /*Não mecher*/
@import url('/css/about.css');/*Não mecher*/
@import url('/css/register.css');
@import url('/css/login.css');
@import url('/css/marqConsult.css');
@import url('/css/resultados.css');
@import url('/css/footer.css');/*Não mecher*/
@import url('/css/footer.css');/*Não mecher*/

.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#aaf2ef;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    padding-top: 2vh;
    text-align:center;
}
.myButton:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.myButton:active {
	position:relative;
	top:1px;
}
